body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    padding: 1rem 2rem; 
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

#header a{
    text-decoration: none;
    font-weight: 600;
}

#footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0.5rem 0;
}
#footer a{
    text-decoration: none;
}

#home-container{
    display: flex;
}

#main-left{
    margin: 2rem;
}
#main-left form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-right{
    margin: 10rem ;
    width: 25%;
    height: 25vh;
}

#expense-added-container{
    width: 50%;
    margin: 8rem auto;
}
#expense-added-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#expenses-list{
    padding: 2rem;
}

#expense-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid gray;
    margin-bottom: 1rem;
    max-width: 100%;

}